* {
    margin: 0;
    padding: 0
}

body {
    background: #ededed;
    font-family: arial
}

.container {
    width: 980px;
    margin: auto;
}

.header {
    padding: 10px
}

.menu {
    height: 50px;
    background: #333333;
    border-radius: 5px
}

.menu ul {
    list-style: none
}

.menu ul li {
    float: left;
    line-height: 50px;
    width: 16.6666%;
    text-align: center;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu ul li a:hover {
    display: block;
    background: #d6d8db;
    color: black
}

.menu ul li:first-child a {
    border-radius: 5px 0 0 5px
}

.menu ul li:last-child a {
    border-radius: 0 5px 5px 0
}

.slider {
    margin-top: 10px
}

.contactus {
    display: flex;
    width: 980px;
    margin: auto;
}

.contactus .contact1 {
    float: left;
    width: 350px;
    margin-top: 40px;
    text-align: center;
    background: #d6d8db;
    padding: 20px
}

.contactus .contact1 h2 {
    margin-top: 30px;
}

.contactus .contact2 {
    float: right;
    margin-left: 20px;
    margin-top: 50px;
    width: 630px
}

.contactus .contact2 .form input[type="text"] {
    padding: 10px;
    width: 290px;
    margin-bottom: 10px
}

.contactus .contact2 .form input[type="email"] {
    padding: 10px;
    width: 605px;
    margin-bottom: 10px
}

.contactus .contact2 .form textarea {
    width: 610px;
    padding: 10px
}

.contactus .contact2 .form input[type="submit"] {
    width: 630px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background: #d6d8db;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    color: #000000;
}


.footer {
    background: #333333;
    padding: 20px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px
}

.services {
    text-align: center;
    margin-top: 20px
}

.services h2 {
    margin-bottom: 20px
}

.services p {
    font-size: 16px
}

h2 {
    background: #333333;
    padding: 10px;
    margin-bottom: 5px;
    color: #f5faf9;
    text-align: center;
    border-radius: 5px;
}